<html>
   <body>
      <h3 style="text-align:center;font-family:Cambria">Sampath works</h3>
      <form action="http://localhost:9999/" method="post" enctype="multipart/form-data" style="text-align:center;font-family:Cambria">
         <p style="font-family:Cambria">
            <input type="file" style="font-family:Cambria" id="image" name="file" autocomplete="off" required>
         </p>

         <p>
            <input type="submit" style="font-family:Cambria" value="Show output">
         </p>
       </form>
       <p align="center">
         <img src="{{ img_path }}" style="text-align:center;{{ img_visibility }}">
       </p>
 </body>
   </body>
</html>